extends layout

block content
  br
  br
  br
  br
  h2 Contactos
  button(class="btn btn-primary" data-toggle="modal"  data-target="#myModal") Agregar
  table(class="table table-striped table-hover ")
    thead
      tr
        th Id
        th Nombre
        th Apellido
        th Direccion
        th Telefono
        th Correo
        th Categoria
        th Opciones
    tbody(data-bind="foreach: contactos")
      tr
        td(data-bind="text: idContacto")  
        td(data-bind="text: nombre")
        td(data-bind="text: apellido")
        td(data-bind="text: direccion")
        td(data-bind="text: telefono")
        td(data-bind="text: correo")
        td(data-bind="text: nombreCategoria")
        td
          div(class="btn-group")
            button(class="btn btn-primary") Ver
            button(class="btn btn-warning" data-toggle="modal" data-bind="click: $root.cargar" data-target="#myModal2") Editar
            button(class="btn btn-danger" data-bind="click: $root.eliminar") Eliminar
  
  
  
  
            
  div(class="modal fade" id="myModal" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Agregar Contacto
          form(class="form-horizontal" data-bind="submit: agregar")
            fieldset
              div(class="form-group")
                label(class="col-md-4 control-label" for="Nombre") Nombre
                div(class="col-md-5")
                  input(id="Nombre" name="nombre" data-bind="value: contactoNuevo.nombre" type="text" class="form-control input-md" required="")
              div(class="form-group")
                label(class="col-md-4 control-label" for="Apellido") Apellido
                div(class="col-md-5")
                  input(id="Apellido" name="apellido" data-bind="value: contactoNuevo.apellido" type="text" class="form-control input-md" required="")
              div(class="form-group")
                label(class="col-md-4 control-label" for="Direccion") Direccion
                div(class="col-md-5")
                  input(id="Direccion" name="direccion" type="text" data-bind="value: contactoNuevo.direccion" class="form-control input-md")
              div(class="form-group")
                label(class="col-md-4 control-label" for="Telefono") Telefono
                div(class="col-md-5")
                  input(id="Telefono" name="telefono" type="text" data-bind="value: contactoNuevo.telefono" class="form-control input-md")
              div(class="form-group")
                label(class="col-md-4 control-label" for="Correo") Correo
                div(class="col-md-5")
                  input(id="Correo" name="correo" type="text" data-bind="value: contactoNuevo.correo" class="form-control input-md")
              div(class="form-group")
                label(class="col-md-4 control-label" for="Categoria") Categoria
                div(class="col-md-4")
                  select(id="idCategoria" data-bind="foreach: categoria, value: contactoNuevo.idCategoria" name="idCategoria" class="form-control")                    
                    option(data-bind="text: nombreCategoria, value: idCategoria")
              div(class="form-group")
                div(class="col-md-4")
                  button(id="Agregar" name="Agregar" type="submit" class="btn btn-primary") Agregar
                  
  
  
  
  
  
  
  
  div(class="modal fade" id="myModal2" role="dialog")
   div(class="modal-dialog")
     div(class="modal-content")
       div(class="modal-header")
         button(type="button" class="close" data-dismiss="modal") &times;
         h4(class="modal-title") Editar Contacto
         div(data-bind="if: contactoCargado")
           form(class="form-horizontal" data-bind="submit: editar")
             fieldset
               div(class="form-group")
                 input(id="idContacto" name="idContacto" type="hidden" class="form-control" data-bind="value: contactoCargado().idContacto" )     
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Nombre") Nombre
                 div(class="col-md-5")
                   input(id="Nombre" name="nombre" data-bind="value: contactoCargado().nombre" type="text" class="form-control input-md" required="")
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Apellido") Apellido
                 div(class="col-md-5")
                   input(id="Apellido" name="apellido" data-bind="value: contactoCargado().apellido" type="text" class="form-control input-md" required="")
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Direccion") Direccion
                 div(class="col-md-5")
                   input(id="Direccion" name="direccion" type="text" data-bind="value: contactoCargado().direccion" class="form-control input-md")
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Telefono") Telefono
                 div(class="col-md-5")
                   input(id="Telefono" name="telefono" type="text" data-bind="value: contactoCargado().telefono" class="form-control input-md")
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Correo") Correo
                 div(class="col-md-5")
                   input(id="Correo" name="correo" type="text" data-bind="value: contactoCargado().correo" class="form-control input-md")
               div(class="form-group")
                 label(class="col-md-4 control-label" for="Categoria") Categoria
                 div(class="col-md-4")
                   select(id="idCategoria" data-bind="foreach: categoria, value: contactoCargado().idCategoria" name="idCategoria" class="form-control")
                     option(data-bind="text: nombreCategoria, value: idCategoria")
               div(class="form-group")
                 div(class="col-md-4")
                   button(id="Agregar" name="Agregar" class="btn btn-primary" type="submit") Editar
                    
  
                
  include footer
  script(src="/javascripts/contactoCliente.js")
            
