extends layout
block content
  br
  br
  br
  br
  h2 Categorias
  button(class="btn btn-primary" data-toggle="modal"  data-target="#myModal3") Agregar
  table(class="table table-striped table-hover ")
    thead
      tr
        th idCategoria
        th Nombre
    tbody(data-bind="foreach: categoria")
      tr  
        td(data-bind="text: idCategoria")  
        td(data-bind="text: nombreCategoria")    


        


  div(id="myModal3" class="modal fade" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal") &times;
          h4(class="modal-title") Categorias
          div(class="modal-body")
            form(class="form-horizontal" data-bind="submit: agregarCategoria")
              fieldset
                div(class="form-group")
                  label(class="col-md-4 control-label" for="Nombre") Nombre
                  div(class="col-md-5")
                    input(id="nombreCategoria" name="nombreCategoria" data-bind="value: categoriaNueva.nombreCategoria" type="text" class="form-control input-md" required="")
                div(class="form-group")
                  div(class="col-md-4")
                    button(id="Agregar" name="Agregar" type="submit" class="btn btn-primary") Agregar
              button(type="button" class="btn btn-default" data-dismiss="modal") Close





  include footer
  script(src="/javascripts/categoriaCliente.js")
