extends default/layout
block content
  br
  br
  br
  br
  h2 Contactos
  button(class="btn btn-primary") Agregar
  table(class="table table-striped table-hover ")
    thead
      tr
        th idContacto
        th Nombre
        th Apellido
        th Direccion
        th Telefono
        th Correo
        th Categoria
        th Opciones
    tbody
    each item in result  
      tr  
        td= item.idContacto
        td= item.nombre
        td= item.apellido
        td= item.direccion
        td= item.telefono
        td= item.correo
        td= item.nombreCategoria
        td
          div(class="btn-group")
            a(href="/contacto/" class="btn btn-primary") Ver
            a(href="#" class="btn btn-warning") Editar 
            a(href="/contacto/"+item.idContacto  class="btn btn-danger") Eliminar

            
  form(class="form-horizontal" data-bind="submit: agregar")
    fieldset
      legend Nuevo Contacto
      div(class="form-group")
        label(class="col-md-4 control-label" for="textinput") Nombre
        div(class="col-md-4")
          input(id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required="")
      div(class="form-group")
        label(class="col-md-4 control-label" for="Apellido") Apellido
        div(class="col-md-4")
          input(id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control input-md" required="")
      div(class="form-group")
        label(class="col-md-4 control-label" for="Direccion") Direccion
        div(class="col-md-4")
          input(id="direccion" name="direccion" type="text" placeholder="Direccion" class="form-control input-md" required="")
      div(class="form-group")
        label(class="col-md-4 control-label" for="Telefono") Telefono  
        div(class="col-md-4")
          input(id="telefono" name="telefono" type="text" placeholder="Telefono" class="form-control input-md" required="")
      div(class="form-group")
        label(class="col-md-4 control-label" for="Correo") Correo
        div(class="col-md-4")
          input(id="correo" name="correo" type="text" placeholder="Correo" class="form-control input-md" required="")
      div(class="form-group")
        label(class="col-md-4 control-label" for="Categoria") Categoria
        div(class="col-md-4")
          select(id="categoria" name="categoria" class="form-control")
            option(value="1") Amigos

      div(class="form-group")
        label(class="col-md-4 control-label" for="singlebutton") Single Button
        div(class="col-md-4")
          button(type="submit"  class="btn btn-primary") Button
          
